.foreverWisconsin {
    width: 150px;
    height: 200px;
}

.secondImage {
    width: 150px;
    height: 200px;
}

.thirdImage {
    width: 150px;
    height: 200px;
}

.fourthImage {
    width: 150px;
    height: 200px;
}

.fifthImage {
    width: 250px;
    height: 200px;
}

.sixthImage {
    width: 250px;
    height: 200px;
}

.sevenImage {
    width: 250px;
    height: 200px;
}

.eightImage {
    width: 250px;
    height: 200px;
}

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

p {
    color: rgb(161, 166, 171);
}

.first_Image,
.second_image,
.third_image,
.fourth_image,
.fifth_image,
.sixth_image,
.seven_image,
.eight_image {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    cursor: pointer;
}

.first_Image {
    position: absolute;
    left: 5%;
}

.second_image {
    top: -2%;
    position: absolute;
    left: 30%;
}

.third_image {
    top: -2%;
    position: absolute;
    left: 50%;
}

.fourth_image {
    top: 1.4%;
    position: absolute;
    left: 70%;
}

.fifth_image {
    top: 60%;
    position: absolute;
    left: 5%;
}

.sixth_image {
    top: 59%;
    position: absolute;
    left: 30%;
}

.seven_image {
    top: 59%;
    position: absolute;
    left: 50%;
}

.eight_image {
    position: absolute;
    top: 61.5%;
    left: 70%;
}

